[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim.symlink/bundle/vim-sensible"]
	path = vim/vim.symlink/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim.symlink/bundle/https:/github.com/tpope/vim-surround"]
	path = vim/vim.symlink/bundle/https:/github.com/tpope/vim-surround
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim.symlink/bundle/ansible-vim"]
	path = vim/vim.symlink/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "vim/vim.symlink/bundle/vim-nerdtree-tabs"]
	path = vim/vim.symlink/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/vim.symlink/bundle/vim-polyglot"]
	path = vim/vim.symlink/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
